.footer__area {
  background: #f2f2f2;
  padding: 70px 0;
}

.footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
}

.f1 {
  order: 1;
  width: 30%;
  display: flex;
  flex-direction: column;
}

.f2 {
  order: 2;
  width: 20%;
}

.f3 {
  order: 3;
  width: 30%;
  display: flex;
  flex-direction: column;
}

.f4 {
  order: 4;
  width: 20%;
}

.tm {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.4;
  color: rgba(65, 51, 40, 0.5);
  margin-bottom: 1.25rem;
}

.oferta {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.4;
  color: var(--tc0);
  margin-bottom: 1.25rem;
}

a.policy1 {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.4;
  text-transform: capitalize;
  color: var(--tc0);
  text-decoration: underline;
}

a.policy1:hover {
  text-decoration: underline !important;
}

.dev {
  margin-top: 20px;
}

.dev a {
  font-size: 0.75rem;
  line-height: 1.4;
  color: rgba(65, 51, 40, 0.5);
}

.footerMenu {
  display: flex;
  flex-direction: column;
}

.footerMenu li {
  list-style: none;
  margin-bottom: 0.5rem;
}

.footerMenu li a {
  text-decoration: none;
  color: var(--tColor);
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.25;
  text-transform: capitalize;
}

.footerMenu li a:hover {
  color: var(--link1);
}

.footer__address {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.25;
  color: var(--tColor);
  margin-bottom: 0.5rem;
}

.footerTime {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.25;
  color: var(--tColor);
  margin-bottom: 2.5rem;
}

.footerPhone {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.25;
  color: var(--tColor);
  text-decoration: none;
  transition: all 0.3s;
}

.footerPhone:hover {
  text-decoration: underline;
  color: var(--link1);
}

.footer__linksTitle {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.25;
  color: var(--tc0);
  margin-bottom: 1.5rem;
}

.footerSGlinks {
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
}

.footerSGlinks a {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-bottom: 10px;
}
.footerSGlinks a:last-child {
  margin-bottom: 0;
}

.footerSGlinks a:hover p {
  text-decoration: underline;
}

.footerSGlinks a p {
  font-size: 0.75rem;
  line-height: 1.3;
  margin-left: 5px;
  color: var(--tc0);
  text-align: left;
}

.footerSGlinks a span {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.footerSGlinks a span i {
  font-size: 1rem;
  color: var(--tColor);
  text-decoration: none !important;
}
