mixin footer
  .footer3__area
    footer.footer3.wsite
      .footer3a 
        .footer3__logo
          img(src="assets/img/logo-1-fff.svg", alt="")
        .footer3__tm Центр косметологии "Бьюти Лаунж" © Саратов, 2021
        .footer3__soc
          .footer__linksTitle Следите за нами в соцсетях
          .footerSGlinks
            a(href="https://www.instagram.com/beauty_lounge_saratov/"  target="_blank")
              span
                i.icon-ig
              p Центр косметологии и красоты
            //- a(href="https://www.instagram.com/beauty_lounge_image/"  target="_blank")
            //-   span
            //-     i.icon-ig
            //-   p Имиджевый центр
            //- a(href="https://www.instagram.com/beauty_lounge_cosmetology/"  target="_blank")
            //-   span
            //-     i.icon-ig
            //-   p Центр косметологии
            a(href=""  target="_blank")
              span
                i.icon-youtube3
              p Наш Youtube-канал
      .footer3b
        .footer3__menuArea 
          .footer3__menuTitle О центре
          ul.footer3__menu
            li
              a(href="") О нас
            li
              a(href="") Специалисты
            li
              a(href="") Оборудование
            li
              a(href="") Бренды
            li
              a(href="") Блог
            li
              a(href="") Правовая информация
            li
              a(href="") Контакты
        .footer3__menuArea 
          .footer3__menuTitle Решить проблему
          ul.footer3__menu
            li
              a(href="") Омоложение
            li
              a(href="") Коррекция лица
            li
              a(href="") Удаление нежелательных волос
            li
              a(href="") Коррекция фигуры
            li
              a(href="") Проблемы кожи
            li
              a(href="") Проблемы волос, ногтей и стоп
        .footer3__menuArea 
          .footer3__menuTitle Услуги
          ul.footer3__menu
            li
              a(href="") Аппаратная косметология
            li
              a(href="") Аппаратный уход
            li
              a(href="") Фотоомоложение, фототерапия
            li
              a(href="") Лазерная косметология
            li
              a(href="") Лифтинги
      .footer3c 
        .dev
          a(href="mailto:zokrat@yandex.ru") Связаться с разработчиком
        .oferta *Информация на сайте не является публичной офертой
        a.policy1(href='#') Политика конфиденциальности
      
