mixin videogallery
  .videoBox__area.wsite
    .videoBox__outer
      .videoBox
        a(data-fancybox='', href='https://www.youtube.com/watch?v=5SEej5rBgqM')
          img(src='https://img.youtube.com/vi/5SEej5rBgqM/sddefault.jpg', alt='')
          span Описание ролика можно в несколько строчек
    .videoBox__outer
      .videoBox
        a(data-fancybox='', href='https://www.youtube.com/watch?v=P5csD0SX8jI')
          img(src='https://img.youtube.com/vi/P5csD0SX8jI/sddefault.jpg', alt='')
          span Описание ролика можно в несколько строчек

mixin gallery
  .gallery
    .gallery__item
      a(href='assets/img/gal/06.jpg', data-fancybox='group', data-caption='002')
        img(src='assets/img/gal/06.jpg', alt='1')
    .gallery__item
      a(href='assets/img/gal/02.jpg', data-fancybox='group', data-caption='002')
        img(src='assets/img/gal/02.jpg', alt='1')
    .gallery__item
      a(href='assets/img/gal/03.jpg', data-fancybox='group', data-caption='002')
        img(src='assets/img/gal/03.jpg', alt='1')
    .gallery__item
      a(href='assets/img/gal/04.jpg', data-fancybox='group', data-caption='002')
        img(src='assets/img/gal/04.jpg', alt='1')
    .gallery__item
      a(href='assets/img/gal/05.jpg', data-fancybox='group', data-caption='002')
        img(src='assets/img/gal/05.jpg', alt='1')
    .gallery__item
      a(href='assets/img/gal/04.jpg', data-fancybox='group', data-caption='002')
        img(src='assets/img/gal/04.jpg', alt='1')



mixin sertif
  .gallery
    .gallery__item
      a(href='assets/img/sert/1.jpg', data-fancybox='group', data-caption='001')
        img(src='assets/img/sert/1.jpg', alt='1')
    .gallery__item
      a(href='assets/img/sert/2.jpg', data-fancybox='group', data-caption='002')
        img(src='assets/img/sert/2.jpg', alt='1')
    .gallery__item
      a(href='assets/img/sert/3.jpg', data-fancybox='group', data-caption='003')
        img(src='assets/img/sert/3.jpg', alt='1')
    .gallery__item
      a(href='assets/img/sert/4.jpg', data-fancybox='group', data-caption='004')
        img(src='assets/img/sert/4.jpg', alt='1')
    .gallery__item
      a(href='assets/img/sert/5.jpg', data-fancybox='group', data-caption='005')
        img(src='assets/img/sert/5.jpg', alt='1')
    .gallery__item
      a(href='assets/img/sert/6.jpg', data-fancybox='group', data-caption='006')
        img(src='assets/img/sert/6.jpg', alt='1')
    .gallery__item
      a(href='assets/img/sert/7.jpg', data-fancybox='group', data-caption='007')
        img(src='assets/img/sert/7.jpg', alt='1')
    .gallery__item
      a(href='assets/img/sert/8.jpg', data-fancybox='group', data-caption='008')
        img(src='assets/img/sert/8.jpg', alt='1')